
body{
	font-family: "平方中体";
}
.p-top{
	margin-top: 80px;
}
.p-bottom{
	margin-bottom: 50px;
}
.panel-body{
	font-size: 16px;
	border: 1px solid #EEEEEE;
	margin-bottom: 40px;
}
.panel-body span{
	line-height: 220%;
	display: block;
}
.panel-body img{
	height: 200px;
	width: 200px;
}
.panel-body>p:nth-child(n+3){
	margin-top: 50px;
}
.panel-heading {
	padding: 0px 30px 0px;
  	background: #EEEEEE;
  	color: #333333;
}
.panel-heading h3{background: url(../img/icon-head-logo.png) 0% no-repeat;padding:0 25px 0;display: inline-block;line-height: 60px;}

/*adoutUs*/
.about-qmac, .about-active{
	width: 100%;	
	overflow: hidden;
	text-align: center;
}
.about-qmac{
	background: #FFFFFF;
	height: 600px;
}
.about-active .container>h3, .about-qmac .container>h3{
	margin-top: 190px;
	font-size: 24px;
	margin-bottom: 50px;
}
.about-qmac p{
	font-size: 18px;
	line-height: 180%;
}
.about-active{
	background: #F7F7F7;
}


/*问题题卡*/
.card-panel{
	display: table;
	margin-top: 50px;
	margin-bottom: 60px;
}
.card-panel li {
	list-style: none;
	width: 265px;
	height: 310px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	position: relative;
}
.card-panel li:hover {box-shadow: 0px 1px 5px 1px rgba(7, 0, 1, 0.1);}
.card-panel .card-img {
	width: 265px;
	height: 210px;
	border: 0;
}
.card-panel .c-pop {
	width: 265px;
	height: 310px;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	position: absolute;
}
.card-panel .c-pop:hover {
	opacity: 1;
	filter: alpha(opacity=1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.card-panel .c-pop .pop-img {
	width: 265px;
	height: 210px;
	background: rgba(0, 0, 0, .1);
	text-align: center;
	overflow: hidden;
}
.card-panel .c-pop .pop-img span {
	color: #FFFFFF;
	font-size: 20px;
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 105px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.card-panel .card-content {padding: 15px;}
.card-panel .q-icon,
.card-panel .r-icon {
	color: #FFFFFF;
	font-size: 12px;
	margin-right: 12px;
	line-height: 16px;
	float: left;
	width: 16px;
	height: 16px;
	text-align: center;
}
.q-icon {background: #858585;}
.r-icon {background: #E60012;}
.card-panel .text-question
{
	font-size: 14px;
	color: #033333;
	height: 30px;
}
.card-panel .text-response {
	font-size: 14px;
	color: #999999;
	display: table;
	width: 100%;
	margin-bottom: 10px;
	
}
.card-panel .text-question .cart-question{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.card-panel .cart-text {
	display: block;
	width: 80%;
	float: left;
	line-height: 20px;
}